<div class="container">
  <h1>Blog Item Title</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, unde
    consequatur quis consectetur placeat, eaque esse, molestias ipsam ullam
    facilis tenetur hic? Debitis qui officiis exercitationem culpa quo molestias
    quam!
  </p>
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
  }

  h1 {
    align-items: left;
  }
</style>
