---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---

<style>
  h3 {
    font-family: Avenir Light, sans-serif;
    font-weight: 100;
  }

  h1 {
    font-family: Avenir Black, sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
  }
</style>

<header>
  <div>
    <h3>EXPLORE THE TECH WORLD WITH ASTRODEVBYTES</h3>
    <h1>Astro Dev Bytes</h1>
  </div>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>
