---
---

<style>
  .post-container {
    max-width: 800px;
    padding: 20px;
    background-color: #aaae8e;
    margin-bottom: 10px;
    border-radius: 5px;
  }
</style>

<div class="post-container">
  <slot />
</div>
